<header>
  <nav class="container pt-5 pb-5">
    <h1 class="text-center text-white mb-5">BRASILVAGAS.TOP</h1>
    <form class="d-flex flex-column gap-4 m-auto mb-2">
      <input type="search" placeholder="Pesquise por cargo ou palavra chave" />
      <select>
        <option value="" selected>Escolha a localização</option>
        <option value="PE">Pernambuco</option>
        <option value="SP">São Paulo</option>
        <option value="RJ">Rio de Janeiro</option>
      </select>
      <input class="btn fs-6 m-auto pe-4" type="submit" value="Buscar Vagas" />
    </form>
  </nav>
</header>
