@import "../../scss/variaveis.scss";

// Formatação
main {
  img {
    background: #341f97;
  }

  div {
    background: #341f97;

    h1 {
      font-size: 150px;
      color: $secondary-text-color;
      font-weight: 700;
    }

    p {
      color: $secondary-text-color;
      font-size: 22px;
      font-weight: 400;
    }
  }
}
