<header class="container-fluid p-4 pb-5 p-lg-0 pt-lg-4 pb-lg-4">
  <nav class="container-xl">
    <div class="row">
      <div class="text-center text-lg-start col-12 col-lg-3 mb-4 m-lg-0">
        <h1 routerLink="home" id="textLogo">BRASILVAGAS.TOP</h1>
      </div>
      <!-- Formulário para buscas das vagas e localidades -->
      <form class="col-12 ms-auto col-lg">
        <div class="row gap-4 gap-lg-0">
          <input
            class="col-12 col-md-8 col-lg-4 col-xl-4 m-auto ms-lg-2 ms-xl-0 me-lg-0 border-0"
            type="text"
            name="q"
            placeholder="Pesquise por cargo ou palavra chave"
          />
          <select
            class="col-12 col-md-8 col-lg-4 col-xl-4 m-auto ms-lg-3"
            name="local"
          >
            <option selected>Escolha a localização</option>
            <option></option>
          </select>
          <input
            class="col-6 col-md-4 col-lg-3 col-xl-3 m-auto ms-lg-auto me-lg-0 btn btn-lg"
            type="submit"
            value="Buscar Vagas"
          />
        </div>
      </form>
    </div>
  </nav>
</header>
