@import "../../../scss/variaveis.scss";

// Formatações
header {
  background-color: $primary-color;
}

h1 {
  font-weight: 500;
  color: $secondary-text-color;
  cursor: pointer;

  @media (min-width: 1024px) {
    font-size: 26px;
    line-height: 2;
  }
}

input {
  // Input do tipo text
  &[type="text"] {
    border-radius: 8px;
    color: $primary-text-color;
    padding: 16px 0 16px 16px;
    outline: none;

    &::placeholder {
      color: $primary-text-color;
    }

    @media (min-width: 1024px) {
      padding: 12px 0 12px 12px;
    }
  }
  // Input do tipo submit
  &[type="submit"] {
    background-color: $primary-button-color;
    color: $secondary-text-color;
    font-size: 16px;
    font-weight: 500;
    padding: 14px;

    @media (min-width: 1024px) {
      padding: 12px;
    }
  }
}

select {
  border-radius: 8px;
  padding: 16px 0 16px 16px;
  outline: none;
  appearance: none;

  @media (min-width: 1024px) {
    padding: 12px 0 12px 12px;
  }
}
