<footer class="pt-4 pb-4">
  <div class="container text-white">
    <div class="row">
      <section id="links" class="mb-3 mb-lg-0 col-lg-3">
        <h5>Institucional</h5>
        <p class="mb-1">Política e privacidade</p>
        <p class="m-0">Quem somos</p>
      </section>
      <section id="description" class="mb-3 mb-lg-0 ms-lg-auto col-lg-4">
        <p class="m-0">
          Um agrador de Links rápido, potente e conciso. Além de trazer boas
          experiências a usuários que estão buscando um emprego. Com o intuito
          de divulgar vagas encontradas pela internet, assim democratizando o
          acesso a novas oportunidades de emprego.
        </p>
      </section>
      <section id="links" class="col-lg-3 ms-lg-auto">
        <h5>Contato</h5>
        <p class="mb-2">contato&#64;brasilvagas.top</p>
        <h5>Denunciar Vaga</h5>
        <p class="mb-2">denuncias&#64;brasilvagas.top</p>
        <h5>Retirar Link</h5>
        <p class="m-0">remover&#64;brasilvaga.top</p>
      </section>
    </div>
  </div>
</footer>
