<footer class="container-fluid pt-5 pb-5">
  <div class="container-xl">
    <div class="row">
      <section class="col-12 col-md-3 gap-2 mb-4 m-md-0 d-flex flex-column">
        <h5 class="fw-bold">Institucional</h5>
        <a
          class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
          href="#"
          >Politica de Privacidade</a
        >
        <a
          class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
          href="#"
          >Quem somos</a
        >
      </section>
      <section class="col-12 col-md-5 mb-4 m-md-0">
        <p class="fw-semibold">
          Um agregador de Links rápido, potente e conciso. Além de trazer boas
          experiências a usuários que estão buscando um emprego. Com o intuito
          de divulgar vagas encontradas pela internet, assim democratizando o
          acesso a novas oportunidades de emprego.
        </p>
      </section>
      <section class="col-12 col-md-3 ms-md-3 ms-lg-auto">
        <h5 class="fw-bold">Contato</h5>
        <a
          href="#"
          class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
          >contato@brasilvagas.top</a
        >
        <h5 class="fw-bold">Denunciar vaga</h5>
        <a
          href="#"
          class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
          >denuncias@brasilvagas.top</a
        >
        <h5 class="fw-bold">Retirar Link</h5>
        <a
          href="#"
          class="link-light link-underline-opacity-0 link-underline-opacity-100-hover"
          >remover@brasilvagas.top</a
        >
      </section>
    </div>
  </div>
</footer>
