$primary-bg-color: #ffffff;
$secondary-bg-color: #3d22bc;

$primary-text-color: #000000;
$seconday-text-color: #ffffff;

$primary-btn-color: #3d22bc;
$secondary-btn-color: #16b967;
$tertiary-btn-color: #009fd1;
